<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: head('Edit Class')}"></head>

<body>

<nav th:replace="~{fragment :: navBar}"></nav>

<div align="center">
    <h1> Edit Class</h1>
    <br/><br/>
    <form action="#" th:action="@{'/class/'+ ${class.id}}" th:object="${class}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Student Id</td>
                <td>
                    <select th:field="*{student.id}">
                        <option
                                th:each="student : ${studentList}"
                                th:value="${student.id}"
                                th:text="${student.name}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Professor Id</td>
                <td>
                    <select th:field="*{professor.id}">
                        <option
                                th:each="professor : ${professorList}"
                                th:value="${professor.id}"
                                th:text="${professor.name}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Date</td>
                <td>
                    <input type="date" th:field="*{date}" th:errorclass="is-invalid"/>
                    <div class="invalid-feedback" th:errors="*{date}"></div>
                </td>
            </tr>
            <tr>
                <td>Duration (Min)</td>
                <td>
                    <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{duration}"
                           maxlength="2" pattern="[0-6]{2}"/>
                    <div class="invalid-feedback" th:errors="*{duration}"></div>
                </td>
            </tr>
            <tr>
                <td>Value</td>
                <td>
                    <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{value}" maxlength="3"
                           pattern="[0-9/.]{1,}"/>
                    <div class="invalid-feedback" th:errors="*{value}"></div>
                </td>
            </tr>
            <tr>
                <td>Average</td>
                <td>
                    <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{average}" pattern="[0-9/.]{1,}"/>
                    <div class="invalid-feedback" th:errors="*{average}"></div>
                </td>
            </tr>
            <tr>
                <td>Result</td>
                <td th:each="result : ${resultOptions}">
                    <input type="radio" th:field="*{result}" th:value="${result.description}"
                           th:errorclass="is-invalid"/>
                    <label th:for="${#ids.prev('result')}" th:text="${result.description}"></label>
                    <div class="invalid-feedback" th:errors="*{result}"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-secondary" href="/class" role="button">Back</a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>