<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: head('Edit Course')}"></head>

<body>

<nav th:replace="~{fragment :: navBar}"></nav>

<div align="center">
    <h1> Edit Course</h1>
    <br/><br/>
    <form action="#" th:action="@{'/course/'+ ${course.id}}" th:object="${course}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Course Title</td>
                <td>
                    <input class="form-control" type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td>Course Area</td>
                <td>
                    <input class="form-control" type="text" th:field="*{area}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-secondary" href="/course" role="button">Back</a>
                </td>
            </tr>
        </table>
    </form>
    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('course')}" th:errorclass="error"
         th:errors="*{course}">
    </div>
</body>
</html>