<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
<div>
    <h1> Edit Student</h1>
    <br/>
    <form action="#" th:action="@{/save/student}" th:object="${student}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Student Id</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" />
                </td>
            </tr>
            <tr>
            <tr>
                <td>Student Name</td>
                <td>
                    <input type="text" th:field="*{name}"/>
                </td>
            </tr>
            <tr>
                <td>Student Age</td>
                <td>
                    <input type="text" th:field="*{age}"/>
                </td>
            </tr>
            <tr>
                <td>Registration Number</td>
                <td>
                    <input type="text" th:field="*{registrationNumber}"/>
                </td>
            </tr>
            <tr>
                <td>CC</td>
                <td>
                    <input type="text" th:field="*{cc}"/>
                </td>
            </tr>
            <tr>
                <td>Student Gender</td>
                <td>
                    <select th:field="*{gender}">
                        <option
                                th:value="M"
                                th:text="Male">
                        </option>
                        <option
                                th:value="F"
                                th:text="Female">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>School Year</td>
                <td>
                    <select th:field="*{schoolYear}">
                        <option
                                th:each = "years : ${schoolYearList}"
                                th:value = "${years}"
                                th:text = "${years}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>