<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <title th:text="${title}"></title>
</head>

<nav th:fragment="navBar" class="navbar navbar-expand-lg bg-light">
    <!-- Main -->
    <div class="container-fluid">
        <a class="navbar-brand">School App</a>
        <!-- List nav -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">Home</a>
                </li>
                <!-- Student -->
                <li class="nav-item">
                    <a class="nav-link" href="/student">Student</a>
                </li>
                <!-- Professors -->
                <li class="nav-item">
                    <a class="nav-link" href="/professor">Professor</a>
                </li>
                <!-- Course -->
                <li class="nav-item">
                    <a class="nav-link" href="/course">Course</a>
                </li>
                <!-- Class -->
                <li class="nav-item">
                    <a class="nav-link" href="/class">Class</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div th:fragment="viewActionButtons(scope)" align="left">
    <a class="btn btn-primary" th:href="'/'+${scope}+'/new'" role="button">Add</a>
    <a class="btn btn-secondary" href="/index" role="button">Back</a>
</div>