<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: head('Home')}"></head>

<body>

<nav th:replace="~{fragment :: navBar}"></nav>

<!-- Title -->
<div align="center">
    <h2>School App</h2>
</div>
<br/><br/>
<!-- What is -->
<div class="container">
    <h4>School App Definition:</h4>
    <h6>
        This app can be used to manage the main contents of a school (Students, Professors, Course, Class).
        All these contents can be added, updated or deleted
        This program is for the final project of the Java Stack/Basics context, provided by NTTData, with the objectives
        being improve the basic concepts of Java, Spring, Maven, and jdbc
    </h6>
</div>
<br/><br/>
<div class="container" align="center">
    <h5>Start now, click in one icon to view one of these topics</h5>

    <!--improve-->
    <div class="m-4">
        <button>
            <i class="bi-mortarboard-fill">
                <a href="/student" role="button">Students</a>
            </i>
        </button>
        <button>
            <i class="bi-mortarboard-fill">
                <a href="/professor" role="button">Professor</a>
            </i>
        </button>
        <button>
            <i class="bi-mortarboard-fill">
                <a href="/course" role="button">Course</a>
            </i>
        </button>
        <button>
            <i class="bi-mortarboard-fill">
                <a href="/class" role="button">Class</a>
            </i>
        </button>
    </div>
</div>
</body>
</html>