<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: head('Class')}"></head>

<body>

<nav th:replace="~{fragment :: navBar}"></nav>

<!--Main code-->
<div class="container-fluid" align="center">
    <div class="col-5">

        <div align="center">
            <h2>Classes</h2>
        </div>
        <br/>
        <div class="container text-center">

            <table class="table is-striped is-hoverable" border="4" cellpadding="20">
                <thead>
                <tr>
                    <th>Student</th>
                    <th>Professor</th>
                    <th>Date</th>
                    <th>Duration (Min)</th>
                    <th>Value</th>
                    <th>Average</th>
                    <th>Result</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="classEntity : ${classList}">
                    <td th:text="${classEntity.student.name}">Student Name</td>
                    <td th:text="${classEntity.professor.name}">Professor Name</td>
                    <td th:text="${#dates.format(classEntity.Date, 'yyyy-MM-dd')}">Class Date</td>
                    <td th:text="${classEntity.Duration}">Class Duration</td>
                    <td th:text="${classEntity.Value}">Student Value</td>
                    <td th:text="${classEntity.Average}">Student Average</td>
                    <td th:text="${classEntity.Result}">Class Result</td>
                    <td>
                        <a th:href="@{'/class/' + ${classEntity.id} + '/edit'}">Edit</a>
                        <a th:href="@{'/class/' + ${classEntity.id} + '/delete'}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:replace="~{fragment :: viewActionButtons('class')}">
            </div>
        </div>
    </div>
</div>
</body>
</html>