<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: head('Course')}"></head>

<body>

<nav th:replace="~{fragment :: navBar}"></nav>

<!--Main code-->
<div class="container-fluid" align="center">
    <div class="col-5">

        <div align="center">
            <h2>Courses</h2>
        </div>
        <br/>
        <div class="container text-center">
            <table class="table is-striped is-hoverable" border="4" cellpadding="20">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Area</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courseList}">
                    <td th:text="${course.name}">Course Name</td>
                    <td th:text="${course.area}">Course Area</td>
                    <td>
                        <a th:href="@{'/course/' + ${course.id} + '/edit'}">Edit</a>
                        <a th:href="@{'/course/' + ${course.id} + '/delete'}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:replace="~{fragment :: viewActionButtons('course')}">
            </div>
        </div>
    </div>
</div>
</body>
</html>