<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment :: head('Student')}"></head>

<body>

<nav th:replace="~{fragment :: navBar}"></nav>

<!--Main code-->
<div class="container-fluid" align="center">
    <div class="col-5">

        <div align="center">
            <h2>Students</h2>
        </div>
        <br/>
        <div class="container text-center">
            <table class="table is-striped is-hoverable" border="4" cellpadding="20">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Registration Number</th>
                    <th>CC</th>
                    <th>Gender</th>
                    <th>School Year</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${studentList}">
                    <td th:text="${student.name}">Student Name</td>
                    <td th:text="${student.age}">Student Age</td>
                    <td th:text="${student.registrationNumber}">Registration Number</td>
                    <td th:text="${student.cc}">Student CC</td>
                    <td th:text="${student.gender}">Student Gender</td>
                    <td th:text="${student.schoolYear}">School Year</td>
                    <td>
                        <a class="col" th:href="@{'/student/' + ${student.id} + '/edit'}">Edit</a>
                        <a class="col" th:href="@{'/student/' + ${student.id}+ '/delete'}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:replace="~{fragment :: viewActionButtons('student')}">
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>